.top_rw{ background-color: #f4f4f4;}
.td_rw{ 

 }
button{
    padding: 5px 10px;
    font-size: 14px;
}
.invoice-box{
    width: 770px;
    height: 1100px;
    top:0;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.form-info {
    width: 150px;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display:grid;align-items: center;justify-content: center;
}

.img-tools {
  width: 100px;
  height: 100px;
}
.img-rules{
    width: 250px;
    height: 110px;
}

.logo {
    width: 187px;
    height: 71px;
}
.type {
    height: 71px; // same as logo height
}
mat-grid-tile{
    padding-top: 0 !important;
}
